
a{
    text-decoration:none; 
}
i,em{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
ul,li,ol,li{
    font-style: normal;
    list-style: none;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5{
    margin:0;
    padding:0;
}
input{
    border:0;
    padding:0;
    margin:0;
    outline: none;
}
p {
    padding: 0;
    margin: 0;
}
.b{
    font-weight: bold;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.blue{
    color: #0099dd;
}
.red{
    color: #f94b4b;
}
.border-1{
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.border-2{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.border-3{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.border-50{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fs-14{
    font-size: 14px;
}

.hgc_main{
    padding-left: 240px;
    padding-right: 20px;
    background: #f3f4f6;
}
/* 面包屑导航 */
.hgc_bread-crumb{
    height: 35px;
    line-height: 35px;
}
.hgc_bread-crumb a,.hgc_bread-crumb span{
    float: left;
    line-height: 35px;
    color: #333;
    font-size: 12px;
}
.hgc_bread-crumb a{
    padding:0 5px;
}
.hgc_bread-crumb span{
    color: #999;
}
.hgc_bread-crumb a.current{
    color: #999;
    cursor: default;
}
/* 步骤条 */
.hgc_step-bar{
    margin-bottom: 10px;
    background: #fff;
    text-align: center;
}
.hgc_step-bar span{
    display: inline-block;
    position: relative;
    height: 45px;
    line-height: 45px;
    width: 175px;
    padding-left: 40px;
    text-align: left;
    font-size: 18px;
    color: #999;
}
.hgc_step-bar i{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background: #bbbbbb;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
}
.hgc_step-bar span.current{
    color: #f94b4c;
}
.hgc_step-bar span.current i{
    background: #f94b4c;
}
.hgc_step-bar span:after,.hgc_step-bar span:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-left-color: #bbb;
    right: 0;
    top:50%;
    margin-top: -10px;
}
.hgc_step-bar span:before{
    right: 1px;
    border-left-color: #fff;
    z-index: 1;
}
/* 文本框样式 */
.field-input{
    float: left;
    height: 35px;
    padding:0;
    padding-left: 5px;
    line-height:35px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border:none;
    background: #fff;
    border:1px solid #c2c6d3;
    color: #333;
    outline: none;
}
.field-input:focus{
    border-color: #2196f3;
}
.field-input.disabled{
    background: #f5f5f5;
}
/* 模块 */
.module{
    padding:20px;
    margin-bottom: 10px;
    background: #fff;
}
/* 表单字段名 */
.fieldset{
    padding:10px 0;
}
.field-name{
    float: left;
    width: 120px;
    height: 35px;
    line-height: 35px;
    padding-right: 20px;
    text-align: right;
    color: #666;
}
.field-value{
    position: relative;
    float: left;
    max-width: 750px;
}

.field-value.error .field-input{
    border-color: #f62a2a !important;
    background: #fff5f6 !important;
    color: #f62a2a !important;
}
.field-value.error .error-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    top:50%;
    margin-top: -15px;
    left: 0;
    background: url('//i0.beta.ulecdn.com/merchant/i/error_icon.png') no-repeat center;
}
.field-value .tips{
    padding-left: 10px;
    line-height: 35px;
    font-size: 12px;
    color: #333;
}
/* 模拟下来框 */
.single-box{
    position:relative;
}

.single-box .field-input{
    width: 165px;
}
.single-box .single-option{
    position: absolute;
    z-index: 10;
    top: 36px;
    left: 0;
    width: 100%;
    padding:10px 0;
    border:1px solid #1f97f6;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    display: none;
    
}
.single-box .single-option li{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.single-box .single-option li:hover{
    background: #f2f9ff;
    color: #2095f4;
}
.single-box:after,.single-box::before,.linkage-box:after,.linkage-box::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border:5px solid transparent;
    border-top-color: #c4c4c4;
    right: 10px;
    top:50%;
    margin-top: -2px;
}
.single-box::before,.linkage-box::before{
    margin-top: -3px;
    z-index: 1;
    border-top-color: #fff;
}
.single-box.focus::before,.linkage-box.focus::before{
    margin-top: -6px;
}
.single-box.focus:after,.linkage-box.focus:after{
    margin-top: -7px;
    border-top-color:#1f97f6;
}
.single-box.focus:after,.single-box.focus:before,
.linkage-box.focus:after,.linkage-box.focus:before{
    transform: rotate(-180deg);
}
/* 模拟联动选择 */
.linkage-box{
    position: relative;
    width: 455px;
    height: 37px;
}
.linkage-box .field-input{
    width: 450px;
    margin-bottom: 10px;
}
.linkage-box.focus .field-input{
    border-color: #2196f3;
}
.linkage-box .linkage-field{
    width:1000px;
    position: absolute;
    top: 45px;
    left: 0;
    background: #fff;
    z-index: 2;
    display: none;
}
.linkage-box .linkage-field .level{
    width: 280px;
    padding:10px;
    margin-left: 15px;
    border:1px solid #c2c6d3;
    height: 355px;
}
.linkage-box .linkage-field .level.first-level{
    margin:0;
}
.linkage-box .linkage-field .level input{
    display: block;
    width: 220px;
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    border-bottom:1px solid #c2c6d3;
}
.linkage-box .linkage-field .level-option{
    padding:10px 0;
    height: 300px;
    overflow: auto;
}
.linkage-box .linkage-field .level-option li{
    height: 30px;
    line-height: 30px;
    padding:5px;
    border:1px solid transparent;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}
.linkage-box .linkage-field .level-option li span{
    display: none;
    color: #f94b4b;
}
.linkage-box .linkage-field .level-option li:hover{
    border:1px solid #f94b4c;
    background: #feeded;
    color: #f94b4b;
}
.linkage-box .linkage-field .level-option li:hover span{
    display: block;
}
.linkage-box .linkage-field .level-option li.current{
    border:1px solid #f94b4c;
    background: #feeded;
    color: #f94b4b;
}
.linkage-box .linkage-field .level-option li.current span{
    display: block;
}
/* 模拟单选框 */
.analog-radiobox{
    padding:5px 0;
}
.analog-radio{
    float: left;
    margin-right: 80px;
    cursor: pointer;
}
.analog-radio label{
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.analog-radio b{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 15px;
    height: 15px;
    border:1px solid #c3c7d4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.analog-radio b i{
    position: absolute;
    width: 8px;
    height: 8px;
    top:50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    background-color: #f95151;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
}
.analog-radio.current b{
    border:1px solid #f95151;
}
.analog-radio.current i{
    display: block;
}

/* 新商品提案 */
.hgc_main{
    width: 950px;
}
.hgc_main .next-step{
    width: 100%;
    background-color: #fff;
}
.hgc_main .next-step a{
    display: block;
    width: 140px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    background: #f94b4b;
    color: #fff;
    line-height: 35px;
    margin:0 auto;
}

/* 右侧导航 */
.hgc_right-anchor{
    position:fixed;
    width: 50px;
    top: 240px;
    left: 50%;
    margin-left: 485px;
    background-color: #fff;
    z-index: 101;
}
.hgc_right-anchor li{
    height: 54px;
    cursor: pointer;
    background:url('//i0.beta.ulecdn.com/merchant/i/hgc_sprites.png') no-repeat;
}
.hgc_right-anchor li:hover span{
    display: block;
}
.hgc_right-anchor li.current span{
   display: block;
}

.hgc_right-anchor li span{
    position: absolute;
    width: 100%;
    height: 44px;
    padding-top: 8px;
    color:#fff;
    font-size: 14px;
    text-align: center;
    background: #ff4546;
    display: none;
}











