
/*
新商品录入页面
*/

.hgc_seled-classify{
    background: #fff;
    margin-bottom: 10px;
}
.hgc_seled-classify .seltag{
    width: 430px;
    height: 45px;
    line-height: 45px;
    padding-left:35px;
}
.hgc_seled-classify .seltag em{
    float: left;
    width: 105px;
    text-align: left;
    font-size: 14px;
    color: #666666;
}
.hgc_seled-classify .seltag strong{
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
.hgc_seled-classify .seltag a{
    float: right;
    width: 80px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #b4b4b4;
    font-size: 12px;
    color: #666;
}

/* 商品基础信息 */
.hgc-productinfo{
    padding:0 20px 15px;
}
.hgc-productinfo h2{
    position: relative;
    height: 40px;
    padding-left: 30px;
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid #f3f4f6;
    font-size: 14px;
    color: #333;
}
.hgc-productinfo .product-name .field-input{
    width: 650px;
}
.hgc-productinfo .box-number .field-input{
    width: 110px;
}
.hgc-productinfo .box-number p{
    width: 50px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 35px;
}
.hgc-productinfo .lwh .field-input{
    width: 60px;
}
.hgc-productinfo .lwh p{
    width: 40px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 35px;
}
.hgc-productinfo .package-type .analog-radio{
    width: 100%;
}
.hgc-productinfo .product-no .field-input{
    width: 300px;
}
.hgc-productinfo .auto-off .field-name{
    padding-top: 5px;
    padding-bottom: 5px;
}
.hgc-productinfo .auto-off label{
    line-height: 35px;
}
.hgc-productinfo .auto-off .field-input{
    float: none;
    width: 35px;
    height: 35px;
    margin-right: 5px;
} 
.hgc-productinfo.price-info .fieldset{
    float: left;
    width: 50%;
}
.hgc-productinfo.price-info .fieldset .field-value{
    position: relative;
}
.hgc-productinfo.price-info .fieldset .field-value:after{
    content: '元';
    position:absolute;
    right: 5px;
    top: 50%;
    margin-top: -10px;
    color: #999;
    font-size: 14px;
}
.hgc-productinfo.price-info .fieldset .field-input{
    width: 280px;
    border-radius: 0;
}
.hgc-productinfo.price-info .fieldset.points .field-input{
    width: 85px;
}
.hgc-productinfo.price-info .fieldset.points .field-value:after{
    content: '%';
}
.hgc-productinfo.price-info .notice{
    padding-left: 30px;
    text-align: left;
    font-size: 14px;
    color: #999;
    line-height: 35px;
}
.hgc-productinfo.price-info h2 a{
    padding-right: 25px;
    line-height: 40px;
    color: #2196f3;
    font-weight: normal;
}
.hgc-productinfo h2 .color-add{
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: 15px;
    text-align: center;
    line-height: 25px;
    color: #666;
    font-size:14px;
    border:1px solid #c2c6d3;
} 
.hgc-productinfo h2 .color-options{
    position: absolute;
    left: 103px;
    top: 40px;
    background: #fff;
    border:1px solid #c2c6d3;
    z-index: 10;
}
.hgc-productinfo h2 .color-options .field-name{
    width: 80px;
    height: 50px;
    padding:0;
    line-height: 50px;
    text-align: left;
    text-indent: 0.5em;
}
.hgc-productinfo h2 .color-options .field-value{
    width: 725px;
}
.hgc-productinfo h2 .color-options .color-sample{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:1px solid #ebebeb;
    vertical-align: middle;
}
.hgc-productinfo h2 .color-options .color-value{
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-left: 5px;
    border:1px solid #c2c6d3;
    vertical-align: middle;
}

.hgc-productinfo h2 .color-options .analog-radio{
    width: 145px;
    margin-right:0;
}
.hgc-productinfo h2 .color-options .analog-radio-add{
    position: relative;
    padding-left: 20px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.hgc-productinfo h2 .color-options .analog-radio-add:after, .hgc-productinfo h2 .color-options .analog-radio-add:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    left: 5px;
    top: 50%;
    margin-top: -6px;
    background-color: #f62a2a;
}
.hgc-productinfo h2 .color-options .analog-radio-add:before{
    width: 12px;
    height: 2px;
    left: 0px;
    margin-top: -1px;
}
.hgc-productinfo .color-select{
    line-height: 25px;
    padding:15px 0;
}
.hgc-productinfo .color-select span{
    width: 100px;
    text-align: left;
    color: #666;
    font-size: 14px;
}
.hgc-productinfo .color-select .value{
    width: 20px;
    height: 20px;
    border:1px solid #ebebeb;
}
.hgc-productinfo .color-select  b{
    padding:0 15px 0 5px;
    font-size: 14px;
    color: #333;
}

.hgc-productinfo .color-select .delete{
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #666;
    border:1px solid #c2c6d3;
}
.hgc-productinfo .size-pic-editor{
    border:1px solid #efefef;
}
.hgc-productinfo .size-editor,
.hgc-productinfo .pic-editor{
    position: relative;
    padding-left: 95px;
}
.hgc-productinfo .size-pic-editor .total-title{
    position:absolute;
    width: 95px;
    height: 35px;
    line-height: 35px;
    top:50%;
    margin-top:-18px;
    left: 0;
    text-align: center;
}
.hgc-productinfo .size-pic-editor .artical-editor{
    width: 810px;
    border-left: 1px solid #efefef;
}
.w110{width: 110px;}
.w135{width: 135px;}
.w145{width: 145px;}
.w150{width: 150px;}
.w130{width: 130px;}
.w20{width: 20px;}
.bg-f5{background:#f5f5f5;}
.hgc-productinfo .size-pic-editor .size-artical-editor li{
    border-bottom: 1px solid #efefef;
}
.hgc-productinfo .size-pic-editor .size-artical-editor li span{
    position:relative;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.hgc-productinfo .size-artical-editor li span .select-input{
    position: absolute;
    width: 130px;
    height: 25px;
    left: 50%;
    margin-left: -65px;
    top:50%;
    margin-top: -13px;
    border:1px solid #c2c6d3;
}
.hgc-productinfo .size-artical-editor li span .select-input input{
    display: block;
    width: 100%;
    height: 25px;
    border:0;
    background: none;
    text-align: center;
}
.hgc-productinfo .size-artical-editor li span .select-input.disabled input{
    background: #f5f5f5;
}
.hgc-productinfo .size-artical-editor li span .select-input ol{
    position: absolute;
    width: 129px;
    top:25px;
    border:1px solid #c2c6d3;
    font-size: 12px;
    background: #fff;
    display: none;
}
.hgc-productinfo .size-artical-editor li span .select-input ol li{
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}
.hgc-productinfo .size-artical-editor li span.smallinput .select-input{
    width: 95px;
    margin-left: -47px;
}
.hgc-productinfo .size-artical-editor li span.biginput .select-input:after,.hgc-productinfo .size-artical-editor li span.biginput .select-input:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border:5px solid transparent;
    border-bottom-color: #c6cad6;
    right: 5px;
    top:50%;
    margin-top: -5px;
}
.hgc-productinfo .size-artical-editor li span.biginput .select-input:before{
    border-bottom-color: #fff;
    margin-top: -4px;
    z-index: 2;
}
.hgc-productinfo .size-artical-editor li span.biginput .select-input.disabled:before{
    border-bottom-color: #f5f5f5;
}
.hgc-productinfo .size-artical-editor li span.biginput .select-input .tips{
    position: absolute;
    width: 14px;
    height: 14px;
    right: -25px;
    top:50%;
    margin-top: -7px;
    background:url('//i0.beta.ulecdn.com/merchant/i/ok_icon.png') no-repeat center;
    cursor: pointer;
    z-index: 10;
}
.hgc-productinfo .biginput .select-input .tips p{
    position: absolute;
    width: 300px;
    padding:5px;
    top: 25px;
    left: -10px;
    font-size: 12px;
    line-height: normal;
    background:#fff8ec;
    border:1px solid #ff9b25;
    display: none;
}
.triangle{
    position:absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 10px;
}
.triangle:after,.triangle:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border:5px solid transparent;
    border-bottom-color: #ff9b25;
    left: 0;
    top: 0;
}
.triangle:before{
    border-bottom-color: #fff8ec;
    z-index: 2;
    top: 1px;
}
.hgc-productinfo .biginput .select-input .tips.erro-exist p{
    color: #ff9b25;
    background: #fff8ec;
    border-color: #ff9b25;
}
.hgc-productinfo .biginput .select-input .tips.erro-exist .triangle:after{
    border-bottom-color: #ff9b25;
}
.hgc-productinfo .biginput .select-input .tips.erro-exist .triangle:before{
    border-bottom-color: #fff8ec;
}
.hgc-productinfo .biginput .select-input .tips.erro-mistake p{
    color: #f94b4b;
    background: #ffecec;
    border-color: #f94b4b;
}
.hgc-productinfo .biginput .select-input .tips.erro-mistake .triangle:after{
    border-bottom-color: #f94b4b;
}
.hgc-productinfo .biginput .select-input .tips.erro-mistake .triangle:before{
    border-bottom-color: #ffecec;
}

.hgc-productinfo .size-artical-editor .operation i{
    float: left;
    width: 50%;
    height: 35px;
    cursor: pointer;
}
.hgc-productinfo .size-artical-editor .add-size{
    position: relative;
    height: 35px;
    line-height: 35px;
    padding-left: 60px;
    text-align: left;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.hgc-productinfo .size-artical-editor .add-size:after,
.hgc-productinfo .size-artical-editor .add-size:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    left: 45px;
    top:50%;
    margin-top: -6px;
    background-color: #f62a2a;
}
.hgc-productinfo .size-artical-editor .add-size:before{
    width: 12px;
    height: 2px;
    left: 40px;
    margin-top: -1px;
}
.hgc-productinfo .pic-editor .pic-artical-editor{
    width: 770px;
    padding:20px;
}
.hgc-productinfo .pic-artical-editor .pic-upload{
    position: relative;
    width: 120px;
    height: 120px;
    border:1px dashed #c2c6d3;
}
.hgc-productinfo .pic-artical-editor .pic-upload img{
    position: absolute;
    width: 114px;
    height: 114px;
    left: 50%;
    margin-left: -57px;
    top: 50%;
    margin-top: -57px;
    background: #999;
    
}
.hgc-productinfo .pic-artical-editor .pic-upload .close{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 3px;
    top: 3px;
    background:url('//i0.beta.ulecdn.com/merchant/i/close_icon.png') no-repeat center;
    cursor: pointer;
    z-index: 2;
}
.hgc-productinfo .pic-artical-editor .pic-upload .add-pop{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    cursor: pointer;
    background: transparent;
    background: url('//i0.beta.ulecdn.com/merchant/i/add_icon.png') no-repeat center;
}
.hgc-productinfo .pic-artical-editor h4{
    padding-top: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #f94b4c;
}
.hgc-productinfo .pic-artical-editor p{
    font-size: 12px;
    color: #666;
}
.hgc-productinfo .pic-artical-editor p .b{
    color: #333;
}
.hgc-productinfo .text-editor{
    padding-top: 20px;
}

.hgc_editor-success{
    padding-bottom: 30px;
    text-align: center;
}
.hgc_editor-success a{
    display: inline-block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    margin:0 5px;
    background: #fff;
    text-align: center;
    border:1px solid #c2c6d3;
    font-size: 14px;
    color: #666;
}
.hgc_editor-success .shelf-sales{
    border-color: #f94b4b;
    background: #f94b4b;
    color: #fff;
}
.hgc_entry-rules{
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
.hgc_entry-rules .border{
    padding-bottom: 10px;
    border-bottom: 1px dotted #999;
}
.hgc_entry-rules .pad{
    padding-top: 10px;
}